.home{
    margin-left: 250px;
    position: relative;
    overflow: auto;
    height: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(
                        rgba(255,255,255,0.5),
                        rgba(255,255,255,0.5)
                        ),url("https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-size: cover ;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif TC', serif;
}

.homeTitle{
    font-size: 50px;
    margin: 20px;
}

.subHomeList{
    display: flex;
}

.subHomeTitle{
    font-size: 20px;
    margin: 20px;
}